<!DOCTYPE html>
<html>
    <head>
        <title>Dark Video Action Classification</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>

    <body>
        <h1 class="text-center">Video Action Classifier</h1>

        <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="videofile" >
            <input class="btn btn-primary mt-3"type="submit" value="Predict Action" >
        </form>
        {% if filename %}
        <div>

                <p class="text-center">file name is {{filename}}</p>
                <p class="text-center">Action is {{ class_belong }}</p>
                <p class="text-center">Accuracy score is {{val}}</p>
                <p class="text-center">Time delay for the prediction is {{ "{:.2f}".format(elapsed_time)}} seconds</p>

                <img src="{{ url_for('static',filename='middle_frame.jpg') }}" alt="Displayed Image">
            </div>
        {% endif %}

    </body>
</html>